@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --trimColor: rgb(111, 218, 182);
    --backgroundColor: #1d1d20;
    --contentHeight: calc(100vh - 22px);
    --textColor: #d1d1d1;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    color: var(--textColor);
}

body {
    background-color: var(--backgroundColor);
    height: 100%;
}

/* Outer-main container */

#outer-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    margin: auto;
}

/* Nav */

#main-nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 10px;
}

#nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo {
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

/* Inner-main container */

#inner-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    border: 1px solid var(--trimColor);
}

h1 span {
    color: var(--trimColor);
}


#inner-main div span {
    color: var(--trimColor);
    font-weight: bold;
}

.link-btn:hover {
    opacity: 80%;
    cursor: pointer;
}

/* Upper Inner */

#upper-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#upper-inner div a{
    text-decoration: none;
}

#upper-inner div a span:hover {
    color: var(--textColor);
    text-decoration: underline;
}

/* Lower Inner */

#lower-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#lower-inner h1 {
    text-align: center;
}

/* Skills */

#skill-category-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10%;
}

.skill-container {
    width: 30%;
}

ul {
    list-style: none;
    font-size: .9rem;
    padding-top: 5px;
    border: 1px solid var(--trimColor);
}

.nav-wrapper {
    background-color: var(--trimColor);
}

.skill-title {
    color: var(--backgroundColor);
    font-size: 1.1rem;
}

/* Footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Screens equal to or greater than 770px */

@media (min-width: 769px){ 
    #outer-main {
        width: 60%;
    }

    #main-nav {
        width: 90%;
    }
}
